@font-face {
    font-family: 'roboto light';
    src: url(fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: 'roboto thin';
    src: url(fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: 'roboto regular';
    src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Open sans regular';
    src: url(fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'Satisfy';
    src: url(fonts/Satisfy-Regular.ttf);
}


:root {
    --primary-color: #E8F7EE;
    --secondary-color: #B8C4BB;
    --third-color: #663F46;
    --fourth-color: #3C362A;
    --fifth-color: #C9D6EA;
}

body{
    margin: 0px;
    font-family: 'roboto regular';
}

header {
    background-color: var(--primary-color);
}

.container-l {
    max-width: 1280px;
    width: 100%;
    margin: auto;
    padding: 0px 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    color: var(--third-color);
}

h1 {font-size: 3.5rem}
h2 {font-size: 2.5rem}
h3 {font-size: 2rem}
h4 {font-size: 1.6rem}
h5 {font-size: 1.3rem}
h6 {font-size: 1rem}

/* ------------------------
MENU
--------------------------*/
header {
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

nav {
    width: 100%;
}

nav .container-l {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
}

#top-menu {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
}

#top-menu li {
    margin-right: 20px;
    text-transform: uppercase;
}

#top-menu li:last-of-type {
    margin-right: 0px;
}

#top-menu a {
    margin-top: 3px;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
}

#top-menu a:after {
    content: "";
    width: 0px;
    height: 3px;
    position: relative;
    left: 50%;
    background-color: var(--fourth-color);
    transition: all 0.15s ease-in;
}

#top-menu a:hover:after {
    width: 100%;
    left: 0%;
}

/* ------------------------
Parallax
--------------------------*/

#parallax {
    width: 100%;
    height: 100vh;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -moz-user-select: none;
    background: url(images/mainbg.jpg) center fixed no-repeat;
    background-size: cover;
}

.fade {
    /* background-color: rgba(0, 0, 0, 0.7); */
    background: linear-gradient(rgba(38, 18, 68, 0.75) 0%, rgba(108, 13, 76, 0.75) 100%);
    width: 100%;
    height: 100%;
}

#parallax .fade .container-l {
    height: 100%;
}

#site-name {
    position: relative;
    top: 50%;
    left: 50%;
    display: inline-block;
    font-family: 'Open sans regular';
    transform: translate(-50%, -50%);
    letter-spacing: 3.5px;
    text-align: center;
}

#site-name h1 {
    color: whitesmoke;
    text-transform: uppercase;
    border-bottom: 1px solid white;
    display: inline;
    font-weight: 700;
}

#site-name p {
    color: whitesmoke;
    font-size: 30px;
}

#site-name p:nth-of-type(2) {
    font-family: Satisfy;
}

/* ------------------------
Profile
--------------------------*/
#about {
    font-family: "Open sans regular";
    margin: 35px 0;
}

.section-title h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 15px 0 15px 0;
}

.section-title .container-l > p {
    text-align: center;
    margin: 0px;
    padding: 5px 0 10px 0;
    color: var(--third-color);
}

.underline {
    border-bottom: 1px solid var(--third-color);
    width: 200px;
    margin: auto;
    padding-top: 20px;
}

.about-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
}

.about-boxes:nth-of-type(2) {
    width: 70%;
    text-align: center;
    padding-bottom: 15px;
}

#image-wrapper {
    overflow: hidden;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 35px 0;
}

#image-wrapper img {
    width: 100%;
}

.details {
    font-weight: bold;
    color: var(---fourth-color);
}

.about-boxes ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* ------------------------
Expericens
--------------------------*/

/* #experiences {
    padding: 35px 0px;
}

.exp-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.exp-left, .exp-right {
    width: 50%;
}

.exp-left {
    display: flex;
    padding-right: 25px;
    box-sizing: border-box;
}

.exp-left > div {
    width: 50%;
}

.name, city, profile {
    color: var(--third-color)
}

.name {
    font-size: 26px;
}

.year {
    font-style: italic;
    font-size: 18px;
}

.city, .profile {
    font-size: 22px;
}

.profile {
    margin-top: 0;
} */

/* ------------------------
Abilities
--------------------------*/

#abilities {
    /* background-color: var(--primary-color); */
    padding: 35px 0;
}

.ab-container {
    padding: 50px 0;
}

.romb {
    width: 150px;
    height: 150px;
    font-size: 50px;
    border: 4px solid black;
    transform: rotate(45deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 32px;
}

.romb img {
    transform: rotate(-45deg);
    width: 50%;
}